/* font-family: 'Forum', cursive;
font-family: 'Inter', sans-serif; */


.header{
    height: 10vh;
    background-color: blueviolet;
}

.main{
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
    height: 80vh;
}

   /* header */

.header-div{
    display: flex;
    font-family: 'Inter', sans-serif;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2vh;
    gap: 2vh;
}

.icon-size{
    width: 8vh;
}

.h2-size{
    font-size: 3vh;
}

 







.swiper{ 
    max-width: 110vh;
    display: flex;
    flex-direction: column;
    margin: 2em;
    justify-content: center;
}

.input-pegination{
    display: none;
}

.slider-image{
    overflow: hidden;
}

.slider-img{
    display: flex;
    align-items: center;
}

     .slider{
        max-width: 140vh;
        object-fit: cover
     }

.size-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.text-btn-pegination{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left-conteiner{
    width: 70%;
    overflow: hidden;
}

.text-mem-conteiner {
    display: flex;
    align-items: center;
}

.text-mem {
    width: 100%;
    flex-shrink: 0;
    font-family: 'Inter', sans-serif; 
}










.footer-div{
    height: 10vh;
    background-color: blueviolet;
    display: grid;
    align-items: center;
} 

.rs-school-github-link{
    display: flex;
    font-family: 'Inter', sans-serif;
    align-items: center;
    justify-content: space-between;
    font-size: 2vh;
    padding: 2vh;
    flex-wrap: wrap;
}


.link:hover{
    color: #ffffff;
}







