/* font-family: 'Forum', cursive;
font-family: 'Inter', sans-serif; */


.header{
    height: 10vh;
    background-color: blueviolet;
}

.main{
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
    height: 80vh;
}

   /* header */

.header-div{
    display: flex;
    font-family: 'Inter', sans-serif;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2vh;
    gap: 2vh;
}

.icon-size{
    width: 8vh;
}

.h2-size{
    font-size: 3vh;
}

 







.swiper{ 
    max-width: 110vh;
    width: 100%;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-pegination{
    display: none;
}

.slider-image{
    overflow: hidden;
}

.slider-img{
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
}

     .slider{
        max-width: 140vh;
        object-fit: cover
     }

     .slider-size{
        padding: 2vh 2vh;

     }

.size-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.text-btn-pegination{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left-conteiner{
    width: 70%;
    overflow: hidden;
}

.text-mem-conteiner {
    display: flex;
    align-items: center;
}

.text-mem {
    width: 100%;
    flex-shrink: 0;
    font-family: 'Inter', sans-serif; 
    font-size: 1.7em;
}

.right-container{
    display: grid;
    align-items: center;
    width: 30%;
}

.btn-pegination-container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.btn-pegination{
    padding: 0.5vh;
    cursor: pointer;
    margin: 0.2vh;
}

.pegination{
    width: 1em;
    height: 1em;
    background-color: red;
    border-radius: 50%;
}





.footer-div{
    height: 10vh;
    background-color: blueviolet;
    display: grid;
    align-items: center;
    
} 

.rs-school-github-link{
    display: flex;
    font-family: 'Inter', sans-serif;
    align-items: center;
    justify-content: space-between;
    font-size: 2vh;
    padding: 2vh;
    flex-wrap: wrap;
}


.link:hover{
    color: #ffffff;
}






@media (max-width: 780px) {
    .text-btn-pegination {
        flex-direction: column-reverse;
    }

    .left-conteiner {
        width: 70%;
        overflow: hidden;
    }

    .right-container {
           display: flex;
    justify-content: center;
    width: 100%;
    }

    .btn-pegination-container {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 1vh;
    }
}
